<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="" class="iconfont icon-guonei"></ion-icon>
      <ion-label>国内疫情</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="" class="iconfont icon--guoji"></ion-icon>
      <ion-label>国外疫情</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="" class="iconfont icon-shishibobao"></ion-icon>
      <ion-label>实时播报</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="" class="iconfont icon-yaoyan"></ion-icon>
      <ion-label>谣言鉴别</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="" class="iconfont icon-xiaoshipin"></ion-icon>
      <ion-label>小视频</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
