.shishi-info {
  padding: 20px 15px 5px 15px;
}

.shishi-info .header-wrap .title {
  color: #000;
  font-weight: 700;
}

.shishi-info .header-wrap .explain {
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  color: #999;
}

.shishi-info .header-wrap .explain .right {
  float: right;
}
