// 实时播报信息样式
.shishi-info {
    padding: 20px 15px 5px 15px;
    // background-color: yellow;

    .header-wrap {
        .title {
            color: #000;
            font-weight: 700;
        }
        .explain {
            height: 22px;
            line-height: 22px;
            font-size: 12px;
            color: #999;
            
            .right {
                float: right;
            }
        }
    }
}